*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-transform: capitalize;
	font-family: verdana, geneva,tahoma,sans-serif ;
	font-weight: normal;
}
body{
	

}
.header{
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.8)),
	url(img/pa9.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}
h1{
	color: rgb(248, 244, 244);
	font-size: 40px;
	font-weight: bolder;
	text-align: center;
	padding-top: 10%;
}
.container{
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap:15px ;
	align-items: flex-start;
	padding: 5px 5px;
}
.container .main-vedio{
	background: white;
	border-radius: 5px;
	padding: 5px;
}
.container .main-vedio video{
	width: 100%;
	border-radius: 5px;
}
.container .main-vedio .title{
	color: #333;
	font-size: 20px;
    padding-bottom: 15px;
	padding-top: 15px;
}
.container .vedio-list{
	background: #fff;
	border-radius: 5px;
	height: 520px;
	overflow-y:scroll ;
}


.container .vedio-list::-webkit-scrollbar{
	width: 7px;
	
}
.container .vedio-list::-webkit-scrollbar-track{
	background: #ccc;
	border-radius: 50px;
}
.container .vedio-list::-webkit-scrollbar-thumb{
	background: #666;
	border-radius: 50px;
}
.container .vedio-list .vid video{
	width: 100px;
	border-radius: 5px;
}
.container .vedio-list .vid{
	display: flex;
	align-items: center;
	gap: 15px;
	background: #f7f7f7;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 1);
	cursor: pointer;
}
.container .vedio-list .vid:hover{
	background: #a48aeb;
}
.container .vedio-list .vid.active{
	background: #e053d9;
}
.container .vedio-list .vid.active .title{
	color: white;
}
.container .vedio-list .vid .title{
	color: #333;
	font-size: 17px;
}
@media(max-width:991px ){
	.container{
	grid-template-columns: 1.5fr 1fr;
	padding:10px;
 }
h1 {
	font-size: 40px;
}

.header {
	height: 30vh;
}
}

@media(max-width:768px ){
	.container{
	grid-template-columns: 1fr;

 }
 h1{
		font-size: 30px;
 }
 .header{
	 height: 30vh;
 }
}